body{
	background-color: beige;
}
#body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.row {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.col-lg-6 {
	width: 100%;
	margin-top: 20px;
}

.custom-footer {
	text-align: right;
	background-color: #fff;
	border-top: none;
}

.left-panel {
	width: 30%;
	display: inline;
	vertical-align: top;
}

.right-panel {
	width: 70%;
	display: inline-block;
	text-align: center;
}

.song {
	font-size: 25px;
}

.artist {
	font-size: 18px;
}

.photo-song {
	margin-left: 10px;
}

.photo-song img {
	vertical-align: top;
}