.popover-content ul {
    padding-left: 5px;
}

.popover-content .playlist-row{
    list-style: none;
    border: 1px solid grey;
    cursor: default;
    margin-top: 5px;
    background-color: white;
}
.popover-content .playlist-row.selected {
    background-color: #dcdcdc;
}

.popover-content .playlist-row:hover{
    cursor: pointer;
}


#body .welcome{
    text-align: center;
}
#body #loginBtn {
    text-align: center;
    list-style: none;
    margin-top: 40px;;
}

#body .logo{
    width: 30%;
    margin: auto;
    position: relative;
    margin-left: 40%;
}

.login-container{
    position: relative;
    margin-top: 30%;
}

#addNewPlaylist{
}

.add-playlist{
    width:auto;
    text-align: left;
    margin-bottom: 8px;
}

.add-playlist button {
    float: left;
}

#info-sign{
    display: inline-block;
    position: absolute;
    left: -22px;
    top: 10px;
}
